<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <th:block th:fragment="common-head">
	        <meta charset="UTF-8">
	        <link th:href="@{/css/admin/style.css}" rel="stylesheet">
	    </th:block>
	</head>
<body>

    <header th:fragment="common-header(parentUrl, parentText, currentText)" class="global-header">
        
        <div>
            <h1><a th:href="@{/admin}">クリニック管理システム</a></h1>
            
            <nav class="breadcrumb">
                <th:block th:if="${currentText == '管理メニューTOP'}">
                    <span>管理メニューTOP</span>
                </th:block>
                
                <th:block th:if="${currentText != '管理メニューTOP'}">
                    <a th:href="@{/admin}">管理メニューTOP</a>
                    <span th:if="${parentUrl != null}">
                        &gt; <a th:href="@{${parentUrl}}" th:text="${parentText}"></a>
                    </span>
                    <span th:if="${currentText != null}">
                        &gt; <span th:text="${currentText}"></span>
                    </span>
                </th:block>
            </nav>
        </div>

        <div class="login-user-info" th:if="${session.loginAdmin != null}">👤 ログイン中：<span th:text="${session.loginAdmin.name}"></span>
        </div>
        
    </header>

    <div th:fragment="common-logout" class="logout-area">
        <form th:action="@{/admin/logout}" method="post">
            <button type="submit" class="btn-logout">🔑 ログアウト</button>
        </form>
    </div>

</body>
</html>