<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:fragment="common-head" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/admin/style.css}">
</head>
<body>

    <header th:fragment="common-header(parentUrl, parentText, currentText)" class="global-header">
        <h1><a th:href="@{/admin}">クリニック管理システム</a></h1>
        
        <nav class="breadcrumb" th:if="${currentText != '管理メニューTOP'}" style="font-size: 0.85rem; margin-top: 5px; color: #666;">
            <a th:href="@{/admin}">管理メニューTOP</a>
            <span th:if="${parentUrl != null}">
                &gt; <a th:href="@{${parentUrl}}" th:text="${parentText}"></a>
            </span>
            <span th:if="${currentText != null}">
                &gt; <span th:text="${currentText}"></span>
            </span>
        </nav>
    </header>

    <div th:fragment="common-logout" class="logout-area" style="margin-top: 40px; margin-bottom: 20px;">
        <form th:action="@{/admin/logout}" method="post">
            <button type="submit" class="btn-logout">🔑 ログアウト</button>
        </form>
    </div>

    <footer th:fragment="common-footer" class="global-footer">
        <p><small>&copy; 2026 クリニック予約顧客管理システム All Rights Reserved.</small></p>
    </footer>

</body>
</html>