<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顧客管理システム</title>
</head>
<body>
    <h1>顧客管理システム</h1>
    <p><a href="/admin/index.html">顧客管理システムTOPへ戻る</a></p>
    <h2>顧客一覧</h2>
    <table>
        <tr>
            <th>顧客ID</th>
            <th>顧客名</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>高巻杏</td>
            <td><a href="/admin/customer_detail.html">顧客詳細</a></td>

        </tr>
    </table>
    
</body>
</html>