<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約管理システム</title>
</head>
<body>
    <h1>予約管理システム</h1>
    <p><a href="/templates/admin/customers.html">予約一覧へ戻る</a></p>
    <h2>予約詳細</h2>
    <table>
        <tr>
            <th>予約ID</th>
            <td>1</td>
        </tr>
        <tr>
            <th>クリニック</th>
            <td>新宿院</td>
        </tr>
        <tr>
            <th>来院日時</th>
            <td>2026年7月1日 14:00～（1時間）</td>
        </tr>
        <tr>
            <th>顧客ID</th>
            <td>1</td>
        </tr>
        <tr>
            <th>氏名</th>
            <td>高巻杏 様</td>
        </tr>
    </table>

    <p><a href="">予約をキャンセルする</a></p>
    
</body>
</html>