<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顧客管理システム</title>
</head>
<body>
    <h1>顧客管理システム</h1>
    <p><a href="/templates/admin/customers.html">顧客一覧へ戻る</a></p>
    <h2>顧客詳細</h2>
    <table>
        <tr>
            <th>ID</th>
            <td>1</td>
        </tr>
        <tr>
            <th>氏名</th>
            <td>高巻杏 様</td>
        </tr>
        <tr>
            <th>生年月日</th>
            <td>2000年11月12日（25 歳）</td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td>090-1111-1111</td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>an@example.com</td>
        </tr>
    </table>

    <p><a href="">顧客情報を編集する</a></p>
    
</body>
</html>