<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>顧客管理システム</title>
</head>
<body>
    <h1>顧客管理システム</h1>
    <p><a th:href="@{/admin}">顧客管理システムTOPへ戻る</a></p>
    
    <h2>顧客一覧</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>氏名</th>
				<th>電話番号</th>
				<th>メールアドレス</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name} + ' 様'"></td>
				<td th:text="${customer.phoneNumber}"></td>
				<td th:text="${customer.email}"></td>
                <td><a th:href="@{/admin/customers/{id}(id=${customer.id})}">顧客詳細</a></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>