<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.mapper.CustomerMapper">

<select id="countByPhoneNumber" parameterType="string" resultType="int">
    SELECT COUNT(*) FROM customers WHERE phone_number = #{phoneNumber}
  </select>

  <select id="countByEmail" parameterType="string" resultType="int">
    SELECT COUNT(*) FROM customers WHERE email = #{email}
  </select>
  
  <select id="findAllCustomers" resultType="com.example.app.domain.Customer">
        SELECT 
            id, 
            name, 
            phone_number AS phoneNumber, 
            email, 
            birth_date AS birthDate 
        FROM customers
        ORDER BY id ASC
    </select>
    
    <select id="findCustomerById" parameterType="int" resultType="com.example.app.domain.Customer">
        SELECT 
            id, 
            name, 
            phone_number AS phoneNumber, 
            email, 
            birth_date AS birthDate FROM customers
        WHERE id = #{id}
  </select>
  
  <select id="searchCustomers" resultType="com.example.app.domain.Customer">
    SELECT 
        id, 
        name, 
        phone_number AS phoneNumber, 
        email, 
        birth_date AS birthDate
    FROM `clinic_system_db`.`customers`
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="name != null and name != ''">
        AND name LIKE CONCAT('%', #{name}, '%')
      </if>
      <if test="phone != null and phone != ''">
        AND phone_number LIKE CONCAT('%', #{phone}, '%')
      </if>
      <if test="email != null and email != ''">
        AND email LIKE CONCAT('%', #{email}, '%')
      </if>
    </where>
    ORDER BY id ASC
  </select>

  <insert id="insertCustomer" 
          parameterType="com.example.app.domain.Customer" 
          useGeneratedKeys="true" 
          keyProperty="id">
          
    INSERT INTO customers (
      name, 
      phone_number, 
      email, 
      birth_date
    ) VALUES (
      #{name}, 
      #{phoneNumber}, 
      #{email}, 
      #{birthDate}
    )
    
  </insert>

</mapper>