<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.mapper.ReservationMapper">

  <insert id="insertReservation" 
          parameterType="com.example.app.domain.Reservation">
          
    INSERT INTO reservations (
      customer_id, 
      status, 
      reserved_at, 
      temporary_expires_at, 
      canceled_at, 
      created_at
    ) VALUES (
      #{customerId}, 
      #{status}, 
      #{reservedAt}, 
      #{temporaryExpiresAt}, 
      #{canceledAt}, 
      #{createdAt}
    )
    
  </insert>

</mapper>